In [1]:
import pandas as pd
import zentables as zen

In [2]:
url = (
    "https://raw.githubusercontent.com/thepolicylab"
    "/ZenTables/main/tests/fixtures/superstore.csv?raw=true"
)
super_store = pd.read_csv(url)

In [5]:
df = super_store.pivot_table(
    index=["Segment", "Region"],
    columns=["Category"],
    values="Order ID",
    aggfunc="count",
    margins=True
)
df

Category             Furniture  Office Supplies  Technology   All
Segment     Region
Consumer    Central        255              739         218  1212
            East           303              888         278  1469
            South          180              505         153   838
            West           375              995         302  1672
Corporate   Central        137              417         119   673
            East           198              520         159   877
            South          101              324          85   510
            West           210              559         191   960
Home Office Central         89              266          83   438
            East           100              304          98   502
            South           51              166          55   272
            West           122              343         106   571
All                       2121             6026        1847  9994

In [9]:
table = [[1, 2222, 30, 500], [4, 55, 6777, 1]]
import pandas as pd
table = [[1, 2222, 30, 500], [4, 55, 6777, 1]]
df = pd.DataFrame(table, columns = ['a', 'b', 'c', 'd'], index=['row_1', 'row_2'])
print(df)
from tabulate import tabulate
table = [[1, 2222, 30, 500], [4, 55, 6777, 1]]
print(tabulate(table))

       a     b     c    d
row_1  1  2222    30  500
row_2  4    55  6777    1
-  ----  ----  ---
1  2222    30  500
4    55  6777    1
-  ----  ----  ---

In [10]:
table = [['col 1', 'col 2', 'col 3', 'col 4'], [1, 2222, 30, 500], [4, 55, 6777, 1]]
print(tabulate(table, headers='firstrow', tablefmt='fancy_grid'))

╒═════════╤═════════╤═════════╤═════════╕
│   col 1 │   col 2 │   col 3 │   col 4 │
╞═════════╪═════════╪═════════╪═════════╡
│       1 │    2222 │      30 │     500 │
├─────────┼─────────┼─────────┼─────────┤
│       4 │      55 │    6777 │       1 │
╘═════════╧═════════╧═════════╧═════════╛

In [17]:
#More tabulate
from tabulate import tabulate

In [18]:
nba_players = [['LeBron James',' Los Angeles Lakers'], ['Kevin Durant', 'Brooklyn Nets'], ['Stephen Curry', 'Golden State Warriors']]
print(tabulate(nba_players,headers =['Player','Team']))

Player         Team
-------------  ---------------------
LeBron James   Los Angeles Lakers
Kevin Durant   Brooklyn Nets
Stephen Curry  Golden State Warriors

In [19]:
print(tabulate(nba_players,headers =['Player','Team'],tablefmt = 'fancy_grid'))

╒═══════════════╤═══════════════════════╕
│ Player        │ Team                  │
╞═══════════════╪═══════════════════════╡
│ LeBron James  │ Los Angeles Lakers    │
├───────────────┼───────────────────────┤
│ Kevin Durant  │ Brooklyn Nets         │
├───────────────┼───────────────────────┤
│ Stephen Curry │ Golden State Warriors │
╘═══════════════╧═══════════════════════╛

In [20]:
print(tabulate(nba_players,headers =['Player','Team'],tablefmt = 'fancy_grid',stralign='center'))

╒═══════════════╤═══════════════════════╕
│    Player     │         Team          │
╞═══════════════╪═══════════════════════╡
│ LeBron James  │  Los Angeles Lakers   │
├───────────────┼───────────────────────┤
│ Kevin Durant  │     Brooklyn Nets     │
├───────────────┼───────────────────────┤
│ Stephen Curry │ Golden State Warriors │
╘═══════════════╧═══════════════════════╛

In [12]:
from prettytable import PrettyTable
table = [['col 1', 'col 2', 'col 3', 'col 4'], [1, 2222, 30, 500], [4, 55, 6777, 1]]
tab = PrettyTable(table[0])
tab.add_rows(table[1:])
tab.add_column('col 5', [-123, 43], align='r', valign='t')
print(tab)

+-------+-------+-------+-------+-------+
| col 1 | col 2 | col 3 | col 4 | col 5 |
+-------+-------+-------+-------+-------+
|   1   |  2222 |   30  |  500  |  -123 |
|   4   |   55  |  6777 |   1   |    43 |
+-------+-------+-------+-------+-------+

In [14]:
from prettytable import PrettyTable

In [15]:
t = PrettyTable(['Name', 'Age'])
t.add_row(['Alice', 24])
t.add_row(['Bob', 19])
print(t)

+-------+-----+
|  Name | Age |
+-------+-----+
| Alice |  24 |
|  Bob  |  19 |
+-------+-----+

In [16]:
from texttable import Texttable
t = Texttable()
t.add_rows([['Name', 'Age'], ['Alice', 24], ['Bob', 19]])
print(t.draw())

+-------+-----+
| Name  | Age |
+=======+=====+
| Alice | 24  |
+-------+-----+
| Bob   | 19  |
+-------+-----+